<div class="flex flex-col text-sm">
    <div class="mb-10">
        <h3 class="text-3xl font-bold">Microservices Technical Lead</h3>
        <h4 class="font-bold mb-3 text-gray-500">Aligent</h4>
        <p class="mb-2">As a Microservices Engineer at an Award Winning B2C and B2B agency,
        I design and implement data integrations for numerous large clients to provide smooth E-commerce experiences.
        </p>
        <p class="mb-2">My work mostly involves AWS serverless architectures, taking advantage of AWS Lambda, S3, Step Functions, DynamoDB, brought together with CloudFormation and CDK.
        I build and maintain integrations designed to last with high sales volumes, scale appropriately and optimise cost and speed for clients.
        </p>
        <p class="mb-2">I work closely with clients and project managers on RFPs, scoping as well as estimations and designs for large interconnected bodies of work.</p>
        <p class="mb-2">I also help maintain several open source, company wide utilities and packages to assist and improve efficiency across all major projects.</p>
    </div>
    <div>
        <h3 class="text-3xl font-bold">Full Stack Engineer</h3>
        <h4 class="font-bold mb-3 text-gray-500">Ebor Systems</h4>
        <p class="mb-2">In my time at Ebor Systems, I was a full stack software developer working on a cutting edge real-time collaborative planning tool.</p>
        <p class="mb-2">I was responsible for the design and implementation of crucial backend systems that underpinned the software, as well as working closely with our UI/UX Designer to implement a robust and elegant user interface built in Vue & Typescript.
        Myself and my team were also part of a multi-company integration project, which involved further work to integrate our user interface with multiple external microservices sending and recieving data from our central piece.
        </p>
        <p class="mb-2">Throughout my time at Ebor the project scaled from a prototype into a fully functional live system, that still operated and maintained today.</p>
    </div>
</div>
